i.icon {
    font-size: 1em;
}

.container.main {
    margin-top: 7.0em;
}

#blogdet {
    margin-left: 2.4em;
    margin-top: 2em;
}

#delete {
    display: inline;
}

.login {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

center {
    text-align: center;
}